# the slice that you're using
SLICE=inri_sl1

# optionally, the OF controller that you'd like to use
# CONTROLLER = tcp:138.96.116.63:6633
# you need to run 'make controllers' for this to take effect
# you can also specify a controller per node, e.g.
# CONTROLLER_SENDER = <another localtion>
# NOTE that hostnames do not seem to be supported as of this writing

# optionnally, the related ssh (private) key to use
SSH_KEY=key_user.rsa

# optionally, you can change the way nodes are displayed
display="$(call solve,$(1))"

#################### the nodes to use
HOST_SENDER=vnode09.pl.sophia.inria.fr
HOST_MUX=vnode02.pl.sophia.inria.fr
HOST_END1=vnode10.pl.sophia.inria.fr
HOST_END2=vnode07.pl.sophia.inria.fr

# and their related IP and netmask
# not that all these MUST fall in the vsys_vnet tag as granted by your planetlab operator
# (in this example it is 10.0.100.0/24)

IP_SENDER=10.0.100.1/24
IP_MUX=10.0.100.2/24
IP_END1=10.0.100.3/24
IP_END2=10.0.100.4/24

#################### the links to create
LINKS :=
# add one from SENDER to MUX
LINKS += SENDER-MUX 
# one from MUX to each of the 2 receivers
LINKS += MUX-END1
LINKS += MUX-END2

####################


